@use "../../styles/globalStyles" as *;

.addGroupsData {

    .addGroupForm {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 20px 0;

        & input {
            @include input-style;
            width: 250px;
        }
        & button {
            @include button-sub-style;
        }
    }

    .groupsTable {

    
        width: 100%;
        border-collapse: collapse;

        @extend .table;
    }
}