@use "../../styles/globalStyles" as *;

.addData {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 30px 20px 0 20px;

    .addData__header {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .addData__header__img {
            cursor: pointer;
            color: $svg-color;
            padding: 6px;
            border-radius: 20%;
            transition: 0.2s ease-in;

            .addData__header__arrow {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
            }
            
            &:hover {
                background-color: $svg-color;
                color: $light-text-colot;
            }
        }

        h1 {
            flex-grow: 1;
            // font-size: 20px;
            text-align: center;
            @include titleText;
        }
    }

    
}
